<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>GestDocu</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>dashboard</mat-icon>
      Panel de control
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
      <mat-icon>folder</mat-icon>
      Documentos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clientes">
        <mat-icon>contacts</mat-icon>
        Clientes
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/informes">
      <mat-icon>picture_as_pdf</mat-icon>
      Informes
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ajustes">
      <mat-icon>settings</mat-icon>
      Ajustes
    </a>


</mat-nav-list>
