<div class="login_page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title class="card-titulo">Iniciar sesión</mat-card-title>
          <mat-card-content>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Nombre de usuario"
                  required
                  name="username"
                  formControlName="username">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="this.formLogin.controls['username'].errors?.required">El nombre de usuario es obligatorio</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Contraseña"
                  type="password"
                  required
                  minlength="4"
                  name="password"
                  formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="this.formLogin.controls['password'].errors?.required">La contraseña es obligatoria</mat-error>
                <mat-error *ngIf="this.formLogin.controls['password'].errors?.minlength">La longitud debe ser mínimo de 6 caracteres</mat-error>
              </mat-form-field>
              <mat-checkbox>Mostrar contraseña</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="login-button">
                Entrar
              </button>
            </form>
          </mat-card-content>

  </mat-card>
</div>
