<div class="login_page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title class="card-titulo">Iniciar sesión</mat-card-title>
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Nombre de usuario"
                  required
                  name="username"
                  ngModel
                  #username="ngModel">
                  <mat-error *ngIf="username.invalid">El nombre de usuario es obligatorio</mat-error>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Contraseña"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    La contraseña es obligatoria
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    La contraseña debe tener más de 6 caracteres
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox>Mostrar contraseña</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Entrar
              </button>
            </form>
          </mat-card-content>

  </mat-card>
</div>
