:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
.bg-image {
  /* The image used */
  background-image: url('/assets/image/fondo_login.jpg');

  /* Add the blur effect */
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

